* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
  font-size: 30px;
}

.kanban {
  display: flex;
  justify-content: center;
  min-height: 400px;
  gap: 10px;
  padding: 10px;
}

.column-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  background-color: cadetblue;
  min-width: 200px;
  border-radius: 5px;
}

.add-column-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  min-width: 200px;
  border-radius: 5px;
  box-shadow: 10px 5px 20px 2px;
}

.column {
  min-width: 150px;
  min-height: 300px;
}

.item {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  padding-bottom: 5px;
}

.dragging {
  opacity: 0.5;
}